@media only screen and (max-width: 630px),
only screen and (min-width: 240px) and (max-width: 630px) 
{
	.excludeMobile{
		display: none !important;
	}
	
	.mobileOnly{
		display: inline-block !important;
	}
	
	.featured ul{
		justify-content: flex-start;
	}
		
	.header-scroll{
		display: none !important;
	}
	
	.container.style-07 h2 {
		line-height: 10px;
	}
	
	.container.style-07 .brand-container {
		border: 10px solid #ad312e;
		border-radius: 10px;
	}
	
	.str-header .search-container{
		width: calc(100% - 60px);
	}
	
	/* item list */
	.brand-container .pi-item-container {
		zoom: 0.8;
	}
	
	.brand-container .pi-container .pi-content-container .pi-tag-list{
		display: none;
	}
	
	.brand-container .pi-container .pi-indicator-container .pi-status:after{
		margin-top: -10px;
	}
	
	.main-container .productList{
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		border-width: 0;
		
		background: transparent;
	}
	
	.toolbar-filter.mobileOnly{
		display: block !important;
		
	}
	
	.toolbar-filter.expand .style-04 i.down{
		transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		top: 2px;
	}
}